@import url('https://fonts.googleapis.com/css2?family=Salsa&family=Sura:wght@400;700&display=swap');

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  font-family: 'Sura', sans-serif !important;
  color: #131313;
  scroll-behavior: smooth;
  overflow-x: hidden;
}